#notesBtn {
    border:0;
    background: url('notes.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width:31px;
    height:30px;
    padding:0;
    opacity: 0.5;
}

#notesBtn:hover, #notesBtn:active {
    opacity: 1;
}