header {
    display:flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    width:100%;
    box-sizing: border-box;
    padding:20px;
    background-color:#343233;
    z-index:50;
}

.headerBtnContainer {
    width:80px;
}

header button {
    cursor: pointer;
}

@media screen and (max-width: 819px) {
    header {
        justify-content: left;
        align-items: center;
        padding:10px;
    }
    .headerBtnContainer {
        display:inline-block;
        width:unset;
    }
    .headerBtnContainer:last-of-type {
        position: absolute;
        right:10px;
    }
}