.ingredient-list {
    width:800px;
    margin:40px auto 0 auto;
}

.placeholder {
    margin-bottom: 20px;
    text-align: center;
    font-size:1.5rem;
    font-weight:700;
    color:rgba(153,151,152,0.75);
    transition: all linear 100ms;
    cursor: default;
}

.placeholder:hover {
    color:rgba(153,151,152,1);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 819px) {
    .ingredient-list {
        width:100%;
        margin:40px auto 0 auto;
        box-sizing: border-box;
        padding:0 10px;
    }
}