#openMenuBtn {
    border:0;
    background: url('openMenu.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    width:34px;
    height:32px;
    padding:0;
    display:inline-block;
}