.options-container {
    position: fixed;
    top:0;
    left:0;
    overflow-y: auto;
    background: linear-gradient(to bottom, #feba59 0%, #fcaa4a 100%);
    width:550px;
    height:100vh;
    z-index: 70;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

.options-list {
    padding:80px 0 120px 0;
}

.options-container h1 {
    position: relative;
    z-index:71;
    width:100%;
    text-align: center;
    top:16px;
    font-size:3rem;
    font-weight:700;
    color: rgba(0,0,0,1);
}

.addHl {
    display: inline-block;
    width:24px;
    height:24px;
    line-height:20px;
    vertical-align: top;
    color:#fff;
    background-color:#44A644;
    margin:0 3px;
    border-radius:50%
}


@media screen and (max-width: 819px) {
    .options-container {
        width:100%;
    }
    .options-container h1 {
        width:100%;
        top:10px;
        font-size:2.25em;
    }
}