.ingredient {
    margin-bottom:20px;
    width:100%;
    height:134px;
    box-sizing:border-box;
    position: relative;
    font-weight:bold;
    justify-content: space-between;
}

.ingredient input:hover, .ingredient input:focus, .ingredient__type select:hover, .ingredient__type select:focus {
    border-bottom:1px solid rgba(0,0,0,0.5);
}

.ingredient:last-of-type {
    margin-bottom:170px;
}

.ingredient input, select {
    background:none;
    border:0;
    padding:0;
    outline:none;
    -webkit-appearance: none;
    border-radius: 0;
}

.ingredient__properties {
    background: linear-gradient(rgba(255,255,255,0.75) 50%, #F2F2F2 50%);
    border-radius:10px;
    width:100%;
    height:100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 48px;
}

.ingredient__name {
    height:50%;
}

.ingredient__name input {
    font-size:2.25rem;
    font-weight:inherit;
    margin-top:10px;
    padding-bottom:4px;
}

input::placeholder {
    color:rgba(0,0,0,0.33);
}

.ingredient__percent {
    padding-right:195px;
    margin-left: auto;
    height:50%;
    line-height:50%;
}

.ingredient__percent input {
    text-align: right;
    width:100px;
    margin-top:10px;
    padding-bottom:4px;
    font-weight: inherit;
    font-size:2.25rem;
}

.ingredient__percent::after {
    font-size:2.25rem;
    color:#000000;
    content: '%';
}

.ingredient__type {
    height:50%;
}

.ingredient__type select {
    width:100px;
    font-size:1.5rem;
    font-weight:bold;
    color:rgba(0,0,0,0.5);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url("../../../assets/dropdownArrow.png");
    background-repeat: no-repeat;
    background-size: 0.8rem auto;
    background-position: right 10px;
    margin-top:19px;
}

.ingredient__type select option {
    height:1.5rem;
    font-size:1.5rem;
    font-weight:bold;
    color:rgba(0,0,0,0.5);
}

.ingredient__hydration {
    height:50%;
    margin-left:auto;
    padding-right:195px;
}

.ingredient__hydration input {
    text-align: right;
    width:100px;
    height:1.5rem;
    font-weight: inherit;
    font-size:1.5rem;
    margin-top:21px;
    padding-right:3px;
    outline:none;
    -webkit-appearance: none;
}

.ingredient__hydration::after {
    font-size:1.5rem;
    color:rgba(0,0,0,0.5);
    content: '% Hydration';
}

.ingredient__handle {
    display:inline-block;
    position: absolute;
    cursor: all-scroll;
    top:0;
    left:0;
    width:32px;
    height:100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color:#000;
    background: #ABA9AA;
    z-index:20;
}

.ingredient:hover .ingredient__handle {
    background: url("./drag.png") center center/40% auto no-repeat, #ABA9AA;
}

.ingredient__weight {
    display:inline-block;
    position: absolute;
    top:0;
    right:0;
    width:175px;
    height:100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#000;
    background: linear-gradient(to bottom, #feba59 0%, #fcaa4a 100%);
    font-size:2.25rem;
    box-sizing: border-box;
    padding: 10px 8px;
    text-align: right;
    z-index:20;
}

.ingredient__delete {
    display:inline-block;
    position: absolute;
    bottom:5px;
    right:5px;
    width:28px;
    height:28px;
    background: url("./remove.png") center center/auto 28px no-repeat;
    opacity:0.35;
    color:#EEE;
    font-size:1.25rem;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    z-index:30;
}

.ingredient__delete:hover {
    opacity: 1;
    cursor: pointer;
}

.ingredient__units {
    color: rgba(0,0,0,0.5);
}

@media screen and (max-width: 820px) {
    .ingredient {
        height: unset;
    }
    .ingredient__properties {
        display:block;
        background: #F2F2F2;
        padding: 5px 0 0 32px;
    }
    .ingredient__name, .ingredient__percent, .ingredient__type, .ingredient__hydration {
        padding: 2px 0 0 10px;
        line-height: 32px;
        height: 32px;
        margin: unset;
    }
    .ingredient__name input,
    .ingredient__hydration input,
    .ingredient__hydration::after,
    .ingredient__percent input,
    .ingredient__percent::after,
    .ingredient__type select {
        font-size:1.5rem;
        padding: 0;
        margin: 0;
    }
    .ingredient__weight {
        font-size:1.75rem;
        padding: 7px;
        margin-top:10px;
        width:100%;
        display:inline-block;
        position: unset;
        top:unset;
        right:unset;
        height:unset;
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
        color:#000;
        background: linear-gradient(to bottom, #feba59 0%, #fcaa4a 100%);
        box-sizing: border-box;
        text-align: center;
    }
    .ingredient input:hover, .ingredient input:focus, .ingredient__type select:hover, .ingredient__type select:focus {
        border-bottom:0;
    }
    .ingredient__percent input, .ingredient__hydration input {
        background: rgba(0,0,0,0.12);
        border-radius:7px;
        height: 32px;
        padding:0 10px;
    }
    .ingredient__delete {
        top: 5px;
        bottom: unset;
    }
}