#saveBtn {
    border:0;
    background: url('save.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width:41px;
    height:33px;
    padding:0;
    margin-top:4px;
    opacity: 0.5;
}
#saveBtn:hover, #saveBtn:active {
    opacity: 1;
}