.dough-stat {
    font-weight:bold;
    width:140px;
    height:90px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    padding:20px 0 10px 0;
}

.dough-stat__title {
    color: rgba(255,255,255,0.5);
    text-transform:uppercase;
    font-size:1.125rem;
}

.dough-stat__value, .dough-stat__units {
    font-size:1.5rem;
}

@media screen and (max-width: 819px) {
    .dough-stat {
        display: block;
        font-weight:bold;
        width:100%;
        height: 42px;
        border-radius: 10px;
        background: rgba(0,0,0,0.5);
        box-sizing: border-box;
        padding:0 0 0 16px;
        line-height:42px;
        text-align:left;
        margin-bottom:4px;
        position: relative;
    }

    .dough-stat__title {
        display:inline-block;
    }
    .dough-stat__value {
        display: inline-block;
        position: absolute;
        right: 20px;
        line-height:42px;
    }
}