.App {
    margin-bottom:170px;
}

@keyframes fadeIn {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes fadeOut {
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

@keyframes slideIn {
    0%{
        left:-10%;
    }
    100%{
        left:0;
    }
}

@keyframes slideOut {
    0%{
        right:0;
    }
    100%{
        right:-10%;
    }
}

@keyframes slideDown {
    0%{
        top:45%;
    }
    100%{
        top:50%;
    }
}

@keyframes slideUp {
    0%{
        top:50%;
    }
    100%{
        top:45%;
    }
}

@media screen and (max-width: 819px) {
    .App {
        margin-bottom:140px;
    }
}