.dough-stats {
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    text-align:center;
}

.dough-stat {
    font-weight:bold;
    width:185px;
    height:90px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    padding:20px 0 10px 0;
}

.dough-stat__title {
    color: rgba(255,255,255,0.5);
    text-transform:uppercase;
    font-size:1.125rem;
}

.dough-stat__value, .dough-stat__units {
    font-size:1.875rem;
}