.add-item-button {
    cursor:pointer;
    position:fixed;
    bottom:32px;
    left:50%;
    margin:0 auto;
    z-index:50;
    transform: translateX(-50%);
}

.add-item-button img {
    width: 77px;
    height: 77px;
}

@media screen and (max-width: 819px) {
    .add-item-button {
        bottom:10px;
    }
    .add-item-button img {
        width: 64px;
        height: 64px;
    }
}