#openMenuBtn {
    border:0;
    background: url('openMenu.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width:34px;
    height:32px;
    padding:0;
    margin-top:4px;
}