.title {
    display:inline-block;
}

.title input {
    font-family: jaf-domus, Helvetica, Arial, sans-serif;
    font-weight:700;
    font-size:2em;
    background:none;
    border:0;
    color:#fff;
    min-width: 200px;
    max-width: 500px;
}

.title input::placeholder {
    color:rgba(255,255,255,0.5);
}