#closeMenuBtn {
    position: absolute;
    z-index:75;
    top:20px;
    left:20px;
    border:0;
    background: url("closeMenu.png") 0 0/100% auto no-repeat;
    width:32px;
    height:30px;
    padding:0;
    margin-top:4px;
    cursor: pointer;
}

@media screen and (max-width: 819px) {
    #closeMenuBtn {
        left:10px;
        top:10px;
        width:22px;
        height:20px;
    }
}